@import '../../assets/styles/main'

.about__wrapper
  position relative
  width 100%
  background linear-gradient(to right, #F0EFE9 0%, #F0EFE9 50%, #EFEBE0 50%, #EFEBE0 100%)

.about__container
  width 100%
  display flex
  align-items: flex-start
  justify-content space-between