{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    "universal-import",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
