@import '../../assets/styles/main'

.home__wrap
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  padding-top 30px
  padding-bottom 150px

.home__title
  Font(light)
  font-size 50px
  color: $white
  letter-spacing 1.5px

.home__longtitle
  Font(medium)
  font-size 20px
  color: $white
  letter-spacing 1.2px
  margin-bottom 75px

.scroll__btn
  position: absolute
  display: flex
  align-items: center
  flex-direction: column
  color: $white
  left: 50%
  bottom: 50px
  transform: translateX(-50%)

.mouse
  display: flex
  justify-content: center
  width 35px
  height: 55px
  border 2px solid $white
  border-radius: 25px
  margin-bottom 10px
  .dot
    margin-top 10px
    width 5px
    height: 5px
    background-color: $white
    border-radius: 50%
