@import '../../assets/styles/main'

.footer
  position: relative
  background-color #fafafa
  z-index: 100
  padding: 25px 0
  background-color $black
  
  &__container
    Font(kaushan)
    display flex
    align-items: center
    justify-content: center
    min-height 50px
    font-size 18px