@import '../../assets/styles/main'
  
.app
  position: relative
  width: 100%
  min-height: 100vh
  color #fff
  background #000
  background-size 120% auto
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    left 0
    top: 0
    background-color rgba(0, 0, 0, .7)

.app__main
  position: relative
  z-index: 200

.video__bg_wrap
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100vh
  overflow: hidden

.video__bg
  position: absolute
  left: 50%
  top: 0
  width: 110%
  transform: translateX(-50%)
  @include laptops()
    width: auto
    height: 100%

.header__bg
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100vh
  background: url('../../assets/images/bg.png')
  background-color: rgba($blue, 0.2)
  background-size: 100% auto
  background-repeat: no-repeat
  background-position: center