//variables
$black = #000
$white = #fff
$bg = #f2f0e8
$text = #373e42
$blue = #1056d1
$hover-blue = #083c96

// layout

@import "common/_fonts"
@import "common/_mixins"
@import "common/_media"
@import "common/_greating"

.main
  position: relative
  background-color: $bg

.info__name,
.hello__widget_title
  @include Font(medium)

.info__descr,
.hello__widget_description
  @include Font(light)

.about__me
  h2
    @include Font(medium)

.footer__bottom,
.footer__left,
.footer__right
  @include Font(light)
  color: $white

.portfolio__title
  @include Font(medium)

.portfolio__form
  @include Font(light)

